body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bgimg {
    background: url(../img/background.svg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #000;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.adminBox {
    background: transparent;
    box-shadow: 0px 0px 4px #26c6da;
    border-radius: 10px;
    padding: 30px;
}

.btn-admin:hover {
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background: #000;
    color: #fff !important;
}

a.btn.btn-admin.pull-right {
    border: 1px solid black;
    background: #fff;
    color: #000;
}

a.btn.btn-admin.pull-right:hover {
    background: #000;
    box-shadow: 0px 0px 5px blue;
}