    @font-face {
        font-family: prime;
        src: url(../fonts/prime.otf) format("opentype");
    }
    
    @font-face {
        font-family: typewriter;
        src: url(../fonts/typewriter.ttf) format("truetype");
    }
    
    img.navbar-brand {
        height: 100px;
    }
    
    .navbar-inverse .navbar-nav>li>a {
        color: #ffffff;
        margin-top: 35px;
        font-family: prime;
    }
    
    .navbar-inverse .navbar-nav>li>a:hover {
        color: #26C6DA;
    }
    
    .text-white {
        color: #fff;
    }
    
    .navbar-toggle {
        margin-top: 40px;
    }
    
    .navbar-nav {
        margin: 7.5px -15px;
        background: #00000e;
    }
    
    .navbar-inverse .navbar-brand {
        color: #ffffff;
        font-weight: bold;
        font-family: prime;
    }
    
    li.formBox {
        margin-top: 34px;
    }
    
    button.btn.navSearchBtn {
        margin-top: 42px;
        background: none;
        color: white;
    }
    
    .btn-default {
        color: #fff;
        background-color: #000;
        border-color: #ccc;
    }
    
    .btn-default:hover {
        color: #26C6DA;
        background-color: #000;
        border-color: #ccc;
    }
    
    input#search {
        background: none;
        box-shadow: 0px 0px 4px 0px #26C6DA;
        color: #fff;
    }
    
    .fs {
        margin-top: 150px;
    }
    
    .heading {
        border-bottom: 2px solid black;
        letter-spacing: 2px;
    }
    
    .heading .headingText {
        background: black;
        width: fit-content;
        padding: 2px;
        margin-bottom: -1px;
        color: #fff;
        font-family: Allerta Stencil;
    }
    
    .fss {
        margin-top: 20px;
    }
    
    h5.mb-1.headingText {
        font-size: 22px;
        color: #000;
        font-family: Allerta Stencil;
        font-weight: bold;
    }
    
    .btn-social {
        background: none;
        color: #000;
        border: 0.4px solid black;
    }
    
    .btn-sourceGoogle,
    .btn-sourceGithub,
    .btn-sourceCodepen,
    .btn-sourceJsfiddle {
        background: none;
        color: #000;
        border: 0.4px solid black;
    }
    
    .btn-sourceGoogle:hover {
        background-color: #ed302f !important;
        color: #fff !important;
    }
    
    .btn-sourceGithub:hover {
        background-color: #000 !important;
        color: #fff !important;
    }
    
    .btn-sourceCodepen:hover {
        background-color: #ccc !important;
        color: #fff !important;
    }
    
    .btn-sourceJsfiddle:hover {
        background-color: #0378bd !important;
        color: #fff !important;
    }
    
    .btn-whatsapp:hover {
        background-color: #34af23 !important;
    }
    
    .btn-social:nth-child(1):hover {
        background-color: #3b5998 !important;
        color: #fff !important;
    }
    
    .btn-social:nth-child(2):hover {
        background-color: #55acee !important;
        color: #fff !important;
    }
    
    .btn-social:nth-child(3):hover {
        background-color: #0082ca !important;
        color: #fff !important;
    }
    
    .btn-social:nth-child(4):hover {
        background-color: #2e5e86;
        color: #fff !important;
    }
    
    .btn-social:nth-child(5):hover {
        background-color: #dd4b39 !important;
        color: #fff !important;
    }
    
    .btn-social:nth-child(6):hover {
        background-color: #ed302f !important;
        color: #fff !important;
    }
    
    .btn-github {
        background-color: #333 !important;
        color: #fff !important;
    }
    
    .btn-codepen {
        background-color: #000 !important;
        color: #fff !important;
    }
    
    .btn-jsfiddle {
        background-color: #0378bd !important;
        color: #fff !important;
    }
    
    .badge {
        background: #26C6DA;
        color: #000;
        font-weight: bold;
    }
    
    @media only screen and (min-width: 768px) {
        .img-thumbnail {
            height: 100px;
            margin-right: 10px;
            float: left;
        }
    }
    
    .pushpin {
        min-height: 300px;
        width: 200px;
        /* border: 1px solid black; */
        position: fixed;
        right: 13px;
        bottom: 30px;
        box-shadow: 0px 0px 15px #26C6DA;
        z-index: 1;
        background: white;
    }
    
    span#closePushpin {
        font-size: 20px;
        color: black;
        cursor: pointer;
    }
    
    img.center.img-responsive.img-thumbnail.pushpinImg {
        width: 100%;
        height: 150px;
        /* border: 2px solid black; */
        padding: 5px;
    }
    
    .pushpinBodyText {
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: cursive;
        font-weight: bold;
    }
    
    footer {
        min-height: 100px;
        background: #00000e;
        color: #fff;
    }
    
    footer img.img-responsive {
        height: 100px;
        padding: 10px;
        float: left;
    }
    
    h1.footerLogoText {
        font-family: prime;
        margin-top: 34px;
        font-size: 30px;
    }
    
    .prime {
        font-family: prime
    }
    
    h6.footerNewsletter {
        margin-top: 5%;
    }
    
    .footerForm {
        width: 80%;
    }
    
    .footerFormInput {
        background: #00000e;
        color: #fff;
    }
    
    p.text-bold {
        font-weight: bold;
    }
    
    .text-black {
        color: #000;
    }
    
    h4.videoHeading {
        font-weight: bold;
        font-family: cursive;
        font-style: italic;
        text-decoration: underline;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: #03A9F4;
        margin-top: 20px;
        text-align: center;
    }
    
    iframe {
        width: 90%;
        height: 315px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .img-thumbnailown {
        display: inline-block;
        max-width: 100%;
        height: 100px;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .relatedBox {
        width: 175px;
        float: left;
    }
    /* admin */
    
    h4.list-group-heading {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: #03A9F4;
    }
    
    .btn-edit,
    .btn-del {
        color: #000;
        background: none;
        border: 1px solid #000;
    }
    
    .btn-edit:hover {
        background: #03A9F4;
        color: #fff;
    }
    
    .btn-del:hover {
        background: #E53935;
        color: #fff;
    }
    
    span.requestmail {
        font-size: 12px;
        color: #03A9F4;
    }
    
    .blue {
        color: #03A9F4 !important;
    }